{% extends "base.html" %}

{% block page %}

{% regroup archive|dictsortreversed:"year" by year as by_year %}

{% for year in by_year %}
<article class="archive" data-year="{{ year.grouper }}">
  <h2>{{ year.grouper }}</h2>
  <ul class="list-unstyled post-list">
  {% for post in year.list %}
    <li class="post-item">
      <span class="pull-right post-item-pubdate">{{ post.post.pub_date|date:"F d, Y" }}</span>
      {% if user.is_staff and not post.post.active %}
        <i class="fa fa-exclamation-triangle"></i>
      {% endif %}
      <a href="{% url 'blog:detail' post.post.id %}" class="post-item-title">{{ post.post.title }}</a>
    </li>
  {% endfor %}
  </ul>
</article>
{% empty %}
<article class="warning">
  <h2>Warning</h2>
  <p class="intro">Nothing is found.</p>
</article>
{% endfor %}

{% endblock page %}