{% extends "base.html" %}

{% load static %}

{% if user.is_authenticated %}
  {% block head_script %}
    <script src="{% static "js/tag.js" %}"></script>
  {% endblock head_script %}
{% endif %}

{% block page %}
  {% if post %}
    <article class="post detail" id="post_{{ post.id }}">
      <div>
      <p class="intro">{{ post.intro }}</p>
      {{ post.post|safe }}
      </div>
      {% if post.tags.all %}
      <p class="tags">
        {# <code>[ #}
        {% for tag in post.tags.all %}
        <a href="{% url 'blog:tag' tag.slug %}" class="btn btn-default btn-xs">{{ tag }}</a>
        {% endfor %}
        {# ]</code> #}
      </p>
      {% endif %}
      <p class="pub_date">
        {% if user.is_staff %}
        <a href="{% url 'blog:edit' post.id %}" class="btn btn-xs btn-default"><i class="fa fa-edit"></i></a>
        <a href="{% url 'blog:delete' post.id %}" class="btn btn-xs btn-default"><i class="fa fa-trash"></i></a>
        {% endif %}
        {{ post.pub_date|date:"j.m.Y H:i" }}
      </p>
    </article>
    {# TODO:: prev and next #}
    {% comment %}
    <article class="prev_next">
      {% if prev %}
        <p class="left">
          <a href="{% url 'blog:detail' prev.id %}"> << {{ prev.title }}</a>
        </p>
      {% endif %}
      {% if next %}
        <p class="right">
          <a href="{% url 'blog:detail' next.id %}">{{ next.title }} >> </a>
        </p>
      {% endif %}
    </article>
    {% endcomment %}
  {% else %}
    <article class="warning">
      <h2>Warning</h2>
      <p class="intro">Nothing is found.</p>
    </article>
  {% endif %}
{% endblock page %}