{% extends "base.html" %}
{% load urls %}

{% block page %}
  {% if posts %}
      {% for post in posts %}
        <article class="post-list" data-post-id="{{ post.id }}">
          <h2 class="post-title">
            {% if user.is_staff and not post.active %}
              <i class="fa fa-exclamation-triangle"></i>
            {% endif %}
            <a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a>
          </h2>
          <p class="intro">{{ post.intro }}</p>
          <p class="pub_date">{{ post.pub_date|date:"j.m.Y H:i" }}</p>
        </article>
      {% endfor %}
      {% if is_paginated %}
      <div class="text-center">
        <ul class="pagination">
          {% for num in paginator.page_range %}
            {% ifequal num page_obj.number %}
              <li class="active"><a>{{ num }}</a></li>
            {% else %}
              <li><a href="?{% url_replace request 'page' num %}">{{ num }}</a></li>
            {% endifequal %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
  {% else %}
    <article class="warning">
      <h2>Warning</h2>
      <p class="intro">Nothing is found.</p>
    </article>
  {% endif %}
{% endblock page %}
