{% extends "base.html" %}

{% block page %}
  {% if posts %}
      {% for post in posts %}
        <article class="post_list" data-post-id="{{ post.id }}">
          <h2 class="post_title"><a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a></h2>
          <p class="pub_date">{{ post.pub_date }}</p>
          <p class="intro">{{ post.intro|safe }}</p>
        </article>
      {% endfor %}

      <div class="inner pagination">
      <p class="step-links center">
        {% if posts.has_previous %}
            <a class="left" href="/{{ posts.previous_page_number }}/">предыдущая</a>
        {% endif %}

        <span class="current">
            Страница {{ posts.number }} из {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a class="right" href="/{{ posts.next_page_number }}/">следущая</a>
        {% endif %}
      </p>
      </div>
  {% else %}
    <article class="warning">
      <h2>Ошибка</h2>
      <p>Нет доступных записей.</p>
    </article>
  {% endif %}
{% endblock page %}
