{% extends "base.html" %}

{% block page %}
  {% if posts %}
      {% for post in posts %}
        <article class="post-list" data-post-id="{{ post.id }}">
          <h2 class="post-title">
            <a href="{% url 'blog:detail' post.id %}">{{ post.title }}</a>

          </h2>
          <p class="intro">{{ post.intro|safe }}</p>
          <p class="pub_date">{{ post.pub_date }}</p>
        </article>
      {% endfor %}
      {% if is_paginated %}
      <div class="text-center">
        <ul class="pagination">
          {% for num in paginator.page_range %}
            {% ifequal num page_obj.number %}
              <li class="active"><a>{{ num }}</a></li>
            {% else %}
              <li><a href="?page={{ num }}">{{ num }}</a></li>
            {% endifequal %}
          {% endfor %}
        </ul>
      </div>
      {% endif %}
  {% else %}
    <article class="warning">
      <h2>Ошибка</h2>
      <p>Нет доступных записей.</p>
    </article>
  {% endif %}
{% endblock page %}
