{% extends "base.html" %}
{% load filters %}

{% block page %}
<div class="inner">
    {% if user.is_staff %}
    <form method="post" action="">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="form-group {{ field.errors|yesno:"has-error," }}">
                <label for="{{ field.id_for_label }}" class="control-label">{{ field.label }}</label>
                {{ field|add_class:"form-control" }}
                {% for error in field.errors %}
                    <p class="help-block">{{ error }}</p>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="btn-group" role="group">
            <button class="btn btn-success">Save <i class="fa fa-save"></i></button>
            {% if object %}
                <a href="{% url 'blog:detail' object.pk %}" class="btn btn-default">Back</a>
            {% endif %}
        </div>
    </form>
    {% else %}
    403: forbidden...
    {% endif %}
</div>
{% endblock page %}
