{% extends "base.html" %}
{% load filters %}

{% block page %}
<div class="inner">
    {% if user.is_staff %}
    <form method="post" action="">
        {% csrf_token %}
        <div class="lead">Are you sure want to delete post &laquo;{{ object.title }}&raquo;?</div>
        <div class="btn-group" role="group">
            <button class="btn btn-danger">Delete <i class="fa fa-delete"></i></button>
            <a href="{% url 'blog:detail' object.pk %}" class="btn btn-default">Back</a>
        </div>
    </form>
    {% else %}
    403: forbidden...
    {% endif %}
</div>
{% endblock page %}
