<ul class="menu">
{% for el in menu %}
  {% if el.for_staff %}
    {% if user.is_staff %}
      <li {% if el.has_subitems %}
        data-submenu="yes"
      {% endif %} ><a href="{{ el.link }}" {% if el.get_target_display %}
        target="{{ el.get_target_display }}"
      {% endif %}>{{ el.name }}</a>
      {% if el.has_subitems %}
        <ul class="submenu">
        {% for subel in el.subitems.all %}
          {% if subel.for_staff %}
            {% if user.is_staff %}
              <li><a href="{{ subel.link }}" {% if el.get_target_display %}
                target="{{ subel.get_target_display }}"
              {% endif %}>{{ subel.name }}</a></li>
            {% endif %}
          {% else %}
            <li><a href="{{ subel.link }}" {% if el.get_target_display %}
              target="{{ subel.get_target_display }}"
            {% endif %}>{{ subel.name }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      {% endif %}
      </li>
    {% endif %}
  {% else %}
    <li {% if el.has_subitems %}
      data-submenu="yes"
    {% endif %} ><a href="{{ el.link }}" {% if el.get_target_display %}
      target="{{ el.get_target_display }}"
    {% endif %}>{{ el.name }}</a>
    {% if el.has_subitems %}
      <ul class="submenu">
      {% for subel in el.subitems.all %}
        {% if subel.for_staff %}
          {% if user.is_staff %}
            <li><a href="{{ subel.link }}" {% if el.get_target_display %}
              target="{{ subel.get_target_display }}"
            {% endif %}>{{ subel.name }}</a></li>
          {% endif %}
        {% else %}
          <li><a href="{{ subel.link }}" {% if el.get_target_display %}
            target="{{ subel.get_target_display }}"
          {% endif %}>{{ subel.name }}</a></li>
        {% endif %}
      {% endfor %}
      </ul>
    {% endif %}
    </li>
  {% endif %}
{% endfor %}
</ul>
