{% extends "base.html" %}

{% block page %}
<article class="about">
  <p class="intro">MIPT student, WEB programmer, Rasta, etc...</p>
  {# git, lastfm, facebook, grove?, youtube, #}
  <h2>My contacts</h2>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li><i class="fa fa-vk"></i> <a href="//vk.com/sigorilla" target="_blank">/sigorilla</a></li>
        <li><i class="fa fa-twitter"></i> <a href="//twitter.com/sigorillo" target="_blank">/sigorillo</a></li>
        <li><i class="fa fa-instagram"></i> <a href="//instagram.com/sigorillo" target="_blank">/sigorillo</a></li>
        <li><i class="fa fa-facebook"></i> <a href="//facebook.com/sigorilla" target="_blank">/sigorilla</a></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-unstyled">
        <li><i class="fa fa-github-alt"></i> <a href="//github.com/sigorilla" target="_blank">/sigorilla</a></li>
        <li><i class="fa fa-lastfm"></i> <a href="//lastfm.ru/user/Sigorilla" target="_blank">/sigorilla</a></li>
        <li><i class="fa fa-medium"></i> <a href="//medium.com/@sigorilla" target="_blank">/sigorilla</a></li>
        <li><i class="fa fa-headphones"></i> <a href="//grooveshark.com/#!/sigorilla" target="_blank">/sigorilla</a></li>
      </ul>
    </div>
  </div>
  <hr>
</article>
{% endblock page %}
