{% extends "base.html" %}
{% load static %}

{% block head_script %}
  {% load static %}
  <link rel="stylesheet" href="{% static "css/schedule.css" %}">
{% endblock head_script %}

{# add odd or even week in h2 #}
{% if curr_week %}
  
{% endif %}

{% block page %}
  <article class="schedule">
    <h2>Group №213 (IV semester) &mdash; 
    {% if curr_week %}
      Odd
    {% else %}
      Even
    {% endif %} week</h2>
    <table class="table table-bordered">
      <caption>Schedule for group №213 (IV semester)</caption>
      <tr>
        <th class="head">Time</th>
        <th class="head">Monday</th>
        <th class="head">Tuesday</th>
        <th class="head">Wednesday</th>
        <th class="head">Thursday</th>
        <th class="head">Friday</th>
        {# <th class="head">Sunday</th> #}
      </tr>
      <tr>
        <td class="time" rowspan="2">9 <sup>00</sup> : 10 <sup>25</sup></td>
        <td class="lect" rowspan="2">
          <span>Основы цифр. электроники</span>
          <span class="prep">Ларин А.П.</span>
          <span class="room">115 КПМ</span>
        </td>
        <td class="lect" rowspan="2">
          <span>Теоретическая физика</span>
          <span class="prep">Суханов Л.П.</span>
          <span class="room">117 ГК</span>
        </td>
        <td class="lect" rowspan="2">
          <span>Вычисл. математика</span>
          <span class="prep">Барабанщиков А.В.</span>
          <span class="room">115 КПМ</span>
        </td>
        <td class="empty" rowspan="14">
          <span>Базовый день</span>
        </td>
        <td class="sem" rowspan="2">
          <span>Теоретическая физика</span>
          <span class="prep"></span>
          <span class="room">511 ГК</span>
        </td>
        {# <td class="empty"></td> #}
      </tr>
      <tr>
        {# Double line #}
      </tr>
      <tr>
        <td class="time" rowspan="2">10 <sup>45</sup> : 12 <sup>10</sup></td>
        <td class="other" rowspan="2">
          <span>Английский язык</span>
        </td>
        <td class="empty" rowspan="2"></td>
        <td class="other" rowspan="2">
          <span>Физкультура</span>
        </td>
        {# <td class="empty"></td> #}
        <td class="empty" rowspan="2"></td>
        {# <td class="empty"></td> #}
      </tr>
      <tr>
        {# Double line #}
      </tr>
      <tr>
        <td class="time" rowspan="2">12 <sup>20</sup> : 13 <sup>45</sup></td>
        <td class="lect" rowspan="2">
          <span>Диск. случ. процессы</span>
          <span class="prep">Шамаров Н.Н.</span>
          <span class="room">123 ГК</span>
        </td>
        <td class="lect" rowspan="3">
          <span>Уравнения матфизики</span>
          <span class="prep">Боговский М.Е.</span>
          <span class="room">239 НК</span>
        </td>
        <td class="empty" rowspan="2"></td>
        {# <td class="empty"></td> #}
        <td class="other" rowspan="4">
          <span>Радиофизическая лаборатория</span>
        </td>
        {# <td class="empty"></td> #}
      </tr>
      <tr>
        {# Double line #}
      </tr>
      <tr>
        <td class="time" rowspan="2">13 <sup>55</sup> : 15 <sup>20</sup></td>
        <td class="sem" rowspan="2">
          <span>Диск. случ. процессы</span>
          <span class="prep">Шамаров Н.Н.</span>
          <span class="room">123 ГК</span>
        </td>
        {# <td class="empty"></td> #}
        <td class="lect" rowspan="2">
          <span>Диск. преобр. сигналов</span>
          <span class="prep">Романюк Ю.А.</span>
          <span class="room">110 КПМ</span>
        </td>
        {# <td class="empty"></td> #}
        {# <td class="empty"></td> #}
        {# <td class="empty"></td> #}
      </tr>
      <tr>
        {# Double line #}
        <td class="sem" rowspan="3">
          <span>Уравнения матфизики</span>
          <span class="prep">-</span>
          <span class="room">516а ГК</span>
        </td>
      </tr>
      <tr>
        <td class="time" rowspan="2">15 <sup>30</sup> : 16 <sup>55</sup></td>
        <td class="empty" rowspan="2"></td>
        {# <td class="empty"></td> Урматы#}
        <td class="other" rowspan="2">
          <span>Английский язык</span>
        </td>
        {# <td class="empty"></td> #}
        <td class="sem" rowspan="2">
          <span>Выч. математика</span>
          <span class="prep"></span>
          <span class="room">705 КПМ</span>
        </td>
        {# <td class="empty"></td> #}
      </tr>
      <tr>
        {# Double line #}
      </tr>
      <tr>
        <td class="time" rowspan="2">17 <sup>05</sup> : 18 <sup>30</sup></td>
        <td class="other" rowspan="4">
          <span>Лаборатория основ цифровой электроники</span>
          <span class="prep"></span>
          <span class="room"></span>
        </td>
        <td class="empty" rowspan="2"></td>
        {% if curr_week %} 
        {# Нечетная #}
        <td class="lect" rowspan="2">
          <span>Параллельное прогр.</span>
          <span class="prep">Якобовский М.В.</span>
          <span class="room">Б. Хим</span>
        </td>
        {% else %}
        <td class="empty" rowspan="2"></td>
        {% endif %}
        {# <td class="empty"></td> #}
        <td class="other" rowspan="2">
          <span>Физкультура</span>
        </td>
        {# <td class="empty"></td> #}
      </tr>
      <tr>
        {# Double line #}
      </tr>
      <tr>
        <td class="time" rowspan="2">18 <sup>30</sup> : 19 <sup>50</sup></td>
        {# <td class="empty"></td> #}
        <td class="empty" rowspan="2"></td>
        {% if not curr_week %}
        {# Четная #}
        <td class="sem" rowspan="2">
          <span>Параллельное прогр.</span>
          <span class="prep"></span>
          <span class="room">802 КПМ</span>
        </td>
        {% else %}
        <td class="empty" rowspan="2"></td>
        {% endif %}
        {# <td class="empty"></td> #}
        <td class="empty" rowspan="2"></td>
        {# <td class="empty"></td> #}
      </tr>
      <tr>
        {# Double line #}
      </tr>
    </table>
  </article>
{% endblock page %}