{% extends "base.html" %}

{% block page %}
<article class="gsoc post detail">
  <p class="intro">My proposal for <a href="//jquery.org" target="_blank">jQuery Foundation</a> on <a href="//www.google-melange.com/gsoc/homepage/google/gsoc2015" target="_blank">GSoC'15</a></p>

  <h2 id="info">Personal Information</h2>
  <h3 id="contact">Contacts</h3>
  <ul>
  <li><strong>Name:</strong> Igor Stepanov</li>
  <li><strong>University:</strong>&nbsp;<a href="http://phystech.edu/" target="_blank">Moscow Institute of Physics and Technology (State University)</a></li>
  <li><strong>Field of study:</strong> Applied Physics and Mathematics</li>
  <li><strong>Begin of studies:</strong> 2012</li>
  <li><strong>Expected graduation date:</strong> 2016</li>
  <li><strong>Degree:</strong> Bachelor of Science</li>
  <li><strong>Homepage:</strong> <a href="http://master-igor.com" target="_blank">master-igor.com</a></li>
  <li><strong>Email:</strong> <a href="mailto:sigorilla@gmail.com" target="_blank">sigorilla@gmail.com</a> or <a href="mailto:igor.stepanov@phystech.edu" target="_blank">igor.stepanov@phystech.edu</a></li>
  <li><strong>Tel:</strong> +7 (968) 471-89-55</li>
  <li><strong>IRC:</strong> sigorilla (on freenode)</li>
  <li><strong>Location:</strong> Russian Federation, Moscow</li>
  <li><strong>Timezone:</strong> UTC+3:00</li>
  <li><strong>Language:</strong> English (preference for communication), Russian</li>
  <li><strong>GitHub:</strong> <a href="http://github.com/sigorilla" target="_blank">sigorilla</a></li>
  <li><strong>Twitter:</strong> <a href="http://twitter.com/sigorillo" target="_blank">@sigorillo</a></li>
  <li><strong>Facebook:</strong> <a href="http://facebook.com/sigorilla" target="_blank">sigorilla</a></li>
  <li><strong>Skype:</strong> newuses-iga</li>
  </ul>
  <h3 id="skills">Coding skills</h3>
  <p>I started programming on Pascal in school at age of 14. I took part in different competitions betweet schools. I got interested in PHP and webdesign at 16. Since then I have been improving my abilities. C/C++, PHP, Javascript, HTML, CSS, Django, Python, MYSQL are all on the list of skills. I love frontend as well as backend development.</p>
  <p>I'm also fond of jQuery. I find it very convenient to develop web. I use it almost in every my project. By the way, I love hackathons. This summer I took part in Tizen Hackathon&nbsp;(Mobile operating system based on HTML5 and Javascript <a href="https://www.tizen.org" target="_blank">tizen.org</a>).</p>
  <p>My last homeproject is <a href="//master-igor.com" target="_blank">master-igor.com</a>. Two weeks ago I and my friends made a GEO location social app (<a href="http://master-igor.com/findme" target="_blank">master-igor.com/findme</a>)&nbsp;on Facebook Hackathon at MIPT.</p>
  <p>About year ago I started to work for <a href="//wanttoknow.ru/">wanttoknow.ru</a>&nbsp;(site for startup student company teaching schoolers basic subjects to pass state exams to enter the best universities of Russian Federation). I'm sort of CTO there. I'm administrating and supporting the whole site, dealing with technical problems.</p>

  <h2 id="project">Project Proposal</h2>
  <h3 id="pr-title">Title</h3>
  <p><strong>Interactive Tutorials for jQuery Learning Center</strong></p>
  <h3 id="pr-desc">Description</h3>
  <p>This project will be a repository on <a href="https://github.com">GitHub</a>, for which you can create folders with different levels of difficulty. Each folder will include the tasks as HTML pages with video (from YouTube) and various training slides such as cards or short questions. You must correctly answer tasks for further reading the article. Also you will be able to take a hint or get a full answer.</p>
  <p>The user will be required to write a necessary part of the existing code to subccessfully complete the task.</p>
  <p>Some tasks (steps) can be grouped into a chain, so user will have to solve all the steps to complete this task.</p>
  <p>More details how to get started you can see here: <a href="https://github.com/arschmitz/jquery-tutorials">arschmitz/jquery-tutorials</a>.</p>
  <h3 id="pr-time">Timeline</h3>

  <ul>
  <li><strong>27 April - 17 May (3 weeks)</strong>
  <ul>
  <li>Formalization of the idea with community (mentors).</li>
  <li>Reading documentation of Learning Center.</li>
  <li>Composing a list which contains the questions I need to ask my mentors.</li>
  </ul>
  </li>
  <li><strong>18 April - 24 May (1 weeks)</strong>
  <ul>
  <li>Getting in touch with mentors.</li>
  <li>Asking them questions from the list I made up during previous period.</li>
  <li>After discussions in IRC (by email, Skype, etc.) I will get the right idea about the project so I'll be able to work and go the right way solving project's problems and issues.</li>
  </ul>
  </li>
  <li><strong>25 May - 7 June (2 weeks)</strong>
  <ul>
  <li>Coding the backend of the project using qUnit.</li>
  <li>Creating some tasks to test code.</li>
  </ul>
  </li>
  <li><strong>8 June - 21 June (2 weeks)</strong>
  <ul>
  <li>Coding client-side of the project.</li>
  <li>Writing a verification system of tasks.</li>
  </ul>
  </li>
  <li><strong>22 June - 28 June (1 weeks)</strong>
  <ul>
  <li>Testing existing code before mid-term evaluations.</li>
  <li>Discussing with mentor about the existing work before I'll submit mid-term deadline.</li>
  </ul>
  </li>
  <li><strong>29 June - 5 July (1 week)</strong>
  <ul>
  <li>One week for a rest.</li>
  </ul>
  </li>
  <li><strong>6 July - 26 Jule (3 weeks)</strong>
  <ul>
  <li>Creating tasks, which will be able to embed on the pages.</li>
  <li>Adding slides, videos and some interesting information for users.</li>
  <li>Creating a simple and user-friendly interface for users.</li>
  </ul>
  </li>
  <li><strong>27 July - 9 August (2 weeks)</strong>
  <ul>
  <li>Making further changes in the code to improve application performance.</li>
  <li>Writing documentation of the project.</li>
  </ul>
  </li>
  <li><strong>10 July - 16 August (1 week)</strong>
  <ul>
  <li>Final testing and debugging.</li>
  <li>Editing documentation.</li>
  </ul>
  </li>
  <li><strong>17 July - 24 August (1 week)</strong>
  <ul>
  <li>Replacement week.</li>
  </ul>
  </li>
  <li><strong>before 25 September</strong>
  <ul>
  <li>"Soft" deadline for code sample submission.</li>
  </ul>
  </li>
  </ul>
  <h3 id="pr-tech">Technical Details</h3>
  <p>The base of pages will be completed with HTML and will be contained necessary scripts for testing.</p>
  <p>To run test and evaluate your solution just the user should click the blue "Run Tests" button in the upper right of the page. We'll use <a href="//qunitjs.com/" target="_blank">qUnit project</a> to check tasks. And we can add a tooltips to get the hint.</p>
  <h2 id="conclusion">Conclusion</h2>
  <p>I'm looking forward to coding in your project. I have so far opened three pull requests to your Github (<a href="//github.com/jquery/learn.jquery.com/pull/636" target="_blank">PR #636</a>, <a href="//github.com/jquery/jquery-wp-content/pull/344" target="_blank">PR #344</a> and <a href="//github.com/jquery/jquery-wp-content/pull/345" target="_blank">PR #345</a>), which I hope were useful. I have a right set of skills and huge motivation in my opinion. I think it will be a great opportunity for me to improve my knowledge of web development and get wonderful lifetime experience. It would nice to contribute to your project and become a member of community. Perphaps my work will be useful for you and your project.</p>
  <p>P.S. I would like to thank <a href="https://github.com/agcolom" target="_blank">Anne-Gaelle Colom</a> and <a href="https://github.com/arschmitz" target="_blank">Alexander Schmitz</a> for their feedback in creating this proposal.</p>
</article>
{% endblock page %}
