<button class="menu-toggle btn btn-default" data-toggle="collapse" data-target="#mainmenu" area-expanded="true" area-controls="mainmenu"><i class="fa fa-bars"></i></button>
<div class="collapse" id="mainmenu">
<ul class="menu">
  {% if user.is_staff %}
    <li><a href="{% url 'blog:create' %}">New</a></li>
  {% endif %}
  <li><a href="{% url 'blog:index' %}">Blog</a></li>
  <li><a href="{% url 'about' %}">About</a></li>
  {# <li><a href="{% url 'schedule' %}">Schedule</a></li> #}
  <li><a href="{% url 'scrobbler' %}">Scrobbler</a></li>
  <li><a href="{% url 'admin:index' %}" target="_blank">Admin</a></li>
</ul></div>
