{% extends "base.html" %}

{% block page %}

  <article class="projects">
    <h2>My projects from different events</h2>
    <ul>
      <a href="https://github.com/banditi/geography-lesson">Torrent Analytics (MIPT Hackathon 2014 May)</a>
      <li><a href="https://github.com/banditi/geography-lesson">Geography Lesson (MIPT Hackathon 2014 October)</a></li>
      <li><a href="https://rawgit.com/banditi/real-time-app/master/index.html">Real Time App (MIPT Hackathon 2014 November)</a>, also available on <a href="https://github.com/banditi/real-time-app">GitHub</a></li>
      <li><a href="http://master-igor.com/findme/">FindMe (MIPT Hackathon 2015 February)</a></li>
    </ul>
  </article>

{% endblock page %}
